.u-section-1 {
  background-image: url("images/a83aa325909ab2b819ddf136ba34c71ed237051c3daf36985f0c7849830371106cbe68c0b9524b123e1861ec0a72022a54874202ddadfc1b9c7259_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 587px;
  position: relative;
}

.u-section-1 .u-group-1 {
  width: 934px;
  min-height: 130px;
  margin: 421px auto 36px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  background-image: none;
  font-weight: 400;
  margin: 18px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 587px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 484px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 278px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 175px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }
}.u-section-2 {
  background-image: linear-gradient(black, #42636f);
}

.u-section-2 .u-sheet-1 {
  min-height: 523px;
  position: relative;
}

.u-section-2 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 377px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-2 .u-image-1 {
  height: 222px;
  object-position: 100% 50%;
  width: 505px;
  margin: 0;
}

.u-section-2 .u-group-1 {
  width: 261px;
  min-height: 131px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -19px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 16px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 300;
  width: 133px;
  margin: 4px auto 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
  color: rgb(59, 89, 152) !important;
}

.u-section-2 .u-icon-2 {
  height: 100%;
  color: rgb(85, 172, 238) !important;
}

.u-section-2 .u-icon-3 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-2 .u-image-2 {
  height: 222px;
  object-position: 100% 50%;
  width: 505px;
  margin: 0;
}

.u-section-2 .u-group-2 {
  width: 261px;
  min-height: 131px;
  background-size: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -19px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 16px 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 300;
  width: 133px;
  margin: 4px auto 0;
}

.u-section-2 .u-social-icons-2 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 0;
}

.u-section-2 .u-icon-4 {
  height: 100%;
  color: rgb(59, 89, 152) !important;
}

.u-section-2 .u-icon-5 {
  height: 100%;
  color: rgb(85, 172, 238) !important;
}

.u-section-2 .u-icon-6 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 103px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 311px;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    min-height: 181px;
    margin-top: -41px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-2 {
    min-height: 181px;
    margin-top: -41px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 170px;
    width: 510px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: 11px;
  }

  .u-section-2 .u-image-2 {
    height: 170px;
    width: 510px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-2 {
    margin-top: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1158px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 30px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 280px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 280px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1016px;
  }

  .u-section-2 .u-image-1 {
    height: 200px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    min-height: 188px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-image-2 {
    height: 200px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-2 {
    min-height: 188px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 0;
  }
}.u-section-3 {
  background-image: linear-gradient(#42636f, #6586a4);
}

.u-section-3 .u-sheet-1 {
  min-height: 418px;
  position: relative;
}

.u-section-3 .u-list-1 {
  margin-top: 21px;
  margin-bottom: 21px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 377px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-3 .u-image-1 {
  height: 222px;
  object-position: 100% 50%;
  width: 505px;
  margin: 0 auto;
}

.u-section-3 .u-group-1 {
  width: 261px;
  min-height: 145px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -20px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 22px 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 300;
  width: 133px;
  margin: 4px auto 0;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 10px auto 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
  color: rgb(59, 89, 152) !important;
}

.u-section-3 .u-icon-2 {
  height: 100%;
  color: rgb(85, 172, 238) !important;
}

.u-section-3 .u-icon-3 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 0;
    margin-bottom: 24px;
  }

  .u-section-3 .u-group-1 {
    width: 337px;
    min-height: 184px;
    margin-top: -32px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 12px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 45px;
  }

  .u-section-3 .u-group-1 {
    width: 290px;
    min-height: 152px;
    margin-top: 11px;
    margin-bottom: -43px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 21px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 11px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 618px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 280px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-1 {
    margin-top: 34px;
    min-height: 214px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 30px 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 14px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 471px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 24px;
  }

  .u-section-3 .u-image-1 {
    height: 200px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    min-height: 181px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 14px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 22px;
  }
}.u-section-4 {
  background-image: linear-gradient(#6586a4, #293033);
}

.u-section-4 .u-sheet-1 {
  min-height: 414px;
  position: relative;
}

.u-section-4 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 36px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 358px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-4 .u-image-1 {
  height: 222px;
  object-position: 100% 50%;
  width: 293px;
  margin: 0 auto;
}

.u-section-4 .u-group-1 {
  width: 261px;
  min-height: 127px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -21px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 5px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 300;
  width: 133px;
  margin: 3px auto 0;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 0;
}

.u-section-4 .u-icon-1 {
  height: 100%;
  color: rgb(59, 89, 152) !important;
}

.u-section-4 .u-icon-2 {
  height: 100%;
  color: rgb(85, 172, 238) !important;
}

.u-section-4 .u-icon-3 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-4 .u-image-2 {
  height: 222px;
  object-position: 100% 50%;
  width: 293px;
  margin: 0 auto;
}

.u-section-4 .u-group-2 {
  width: 261px;
  min-height: 127px;
  background-size: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -21px auto 0;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 5px 0 0;
}

.u-section-4 .u-text-4 {
  font-weight: 300;
  width: 133px;
  margin: 3px auto 0;
}

.u-section-4 .u-social-icons-2 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 0;
}

.u-section-4 .u-icon-4 {
  height: 100%;
  color: rgb(59, 89, 152) !important;
}

.u-section-4 .u-icon-5 {
  height: 100%;
  color: rgb(85, 172, 238) !important;
}

.u-section-4 .u-icon-6 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-4 .u-image-3 {
  height: 222px;
  object-position: 100% 50%;
  width: 293px;
  margin: 0 auto;
}

.u-section-4 .u-group-3 {
  width: 261px;
  min-height: 127px;
  background-size: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -21px auto 0;
}

.u-section-4 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 5px 0 0;
}

.u-section-4 .u-text-6 {
  font-weight: 300;
  width: 133px;
  margin: 3px auto 0;
}

.u-section-4 .u-social-icons-3 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 0;
}

.u-section-4 .u-icon-7 {
  height: 100%;
  color: rgb(59, 89, 152) !important;
}

.u-section-4 .u-icon-8 {
  height: 100%;
  color: rgb(85, 172, 238) !important;
}

.u-section-4 .u-icon-9 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 20px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 295px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 16px;
  }

  .u-section-4 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    min-height: 126px;
    width: 241px;
    margin-top: -20px;
    margin-right: 7px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 7px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 16px;
  }

  .u-section-4 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-2 {
    min-height: 126px;
    width: 241px;
    margin-top: -20px;
    margin-right: 7px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 7px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-right: 16px;
  }

  .u-section-4 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-3 {
    min-height: 126px;
    width: 241px;
    margin-top: -20px;
    margin-right: 7px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 7px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 418px;
  }

  .u-section-4 .u-image-1 {
    height: 170px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    margin-top: 32px;
    min-height: 163px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 13px;
    margin-right: 11px;
    margin-left: 6px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 17px;
  }

  .u-section-4 .u-image-2 {
    height: 170px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-2 {
    margin-top: 32px;
    min-height: 157px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: 13px;
    margin-right: 11px;
    margin-left: 6px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-social-icons-2 {
    margin-top: 17px;
  }

  .u-section-4 .u-image-3 {
    height: 170px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-3 {
    margin-top: 32px;
    min-height: 157px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-5 {
    margin-top: 13px;
    margin-right: 11px;
    margin-left: 6px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-social-icons-3 {
    margin-top: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1618px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 20px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    min-height: 941px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 280px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 30px 10px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 280px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-2 {
    min-height: 163px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-4 {
    padding: 30px 10px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 280px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-3 {
    min-height: 163px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-6 {
    padding: 30px 10px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1310px;
  }

  .u-section-4 .u-image-1 {
    height: 200px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    min-height: 160px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-top: 17px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 0;
  }

  .u-section-4 .u-image-2 {
    height: 200px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-2 {
    min-height: 160px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-top: 17px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 0;
  }

  .u-section-4 .u-image-3 {
    height: 200px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-3 {
    min-height: 160px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-5 {
    margin-top: 17px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 0;
  }
}.u-section-5 {
  background-image: linear-gradient(#293033, black);
}

.u-section-5 .u-sheet-1 {
  min-height: 414px;
  position: relative;
}

.u-section-5 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 36px;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 358px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-5 .u-image-1 {
  height: 222px;
  object-position: 100% 50%;
  width: 293px;
  margin: 0 auto;
}

.u-section-5 .u-group-1 {
  width: 261px;
  min-height: 124px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -22px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 5px 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 300;
  width: 133px;
  margin: 1px auto 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 9px auto 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
  color: rgb(59, 89, 152) !important;
}

.u-section-5 .u-icon-2 {
  height: 100%;
  color: rgb(85, 172, 238) !important;
}

.u-section-5 .u-icon-3 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-5 .u-image-2 {
  height: 222px;
  object-position: 100% 50%;
  width: 293px;
  margin: 0 auto;
}

.u-section-5 .u-group-2 {
  width: 261px;
  min-height: 124px;
  background-size: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -22px auto 0;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 5px 0 0;
}

.u-section-5 .u-text-4 {
  font-weight: 300;
  width: 133px;
  margin: 1px auto 0;
}

.u-section-5 .u-social-icons-2 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 9px auto 0;
}

.u-section-5 .u-icon-4 {
  height: 100%;
  color: rgb(59, 89, 152) !important;
}

.u-section-5 .u-icon-5 {
  height: 100%;
  color: rgb(85, 172, 238) !important;
}

.u-section-5 .u-icon-6 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 21px;
    margin-bottom: 21px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 295px;
  }

  .u-section-5 .u-group-1 {
    min-height: 123px;
    margin-top: -39px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 11px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 5px;
  }

  .u-section-5 .u-social-icons-1 {
    margin-top: 6px;
  }

  .u-section-5 .u-group-2 {
    min-height: 123px;
    margin-top: -39px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 11px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 5px;
  }

  .u-section-5 .u-social-icons-2 {
    margin-top: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 33px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 445px;
  }

  .u-section-5 .u-group-1 {
    min-height: 159px;
    margin-top: 17px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-group-2 {
    min-height: 159px;
    margin-top: 17px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1058px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 56px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 280px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 41px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 280px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 41px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-image-1 {
    height: 200px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-top: 0;
  }

  .u-section-5 .u-image-2 {
    height: 200px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-3 {
    margin-top: 0;
  }
}