.u-section-1 .u-sheet-1 {
  min-height: 549px;
}

.u-section-1 .u-text-1 {
  margin: 19px 0 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin: 33px 0 19px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 439px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-1 {
  width: 290px;
  height: 290px;
  background-image: url("images/gaurav.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-icon-1 {
  height: 33px;
  width: 33px;
  margin: 12px 334px 0 138px;
}

.u-section-1 .u-icon-2 {
  height: 33px;
  width: 33px;
  margin: -33px 138px 0 auto;
}

.u-section-1 .u-icon-3 {
  height: 33px;
  width: 33px;
  margin: -33px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-2 {
  width: 290px;
  height: 290px;
  background-image: url("images/sakshi.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-icon-4 {
  height: 33px;
  width: 33px;
  margin: 12px 334px 0 138px;
}

.u-section-1 .u-icon-5 {
  height: 33px;
  width: 33px;
  margin: -33px 138px 0 auto;
}

.u-section-1 .u-icon-6 {
  height: 33px;
  width: 33px;
  margin: -33px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 432px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 272px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 272px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-icon-1 {
    margin-right: 204px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 20px;
    margin-right: 204px;
    margin-left: 138px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 20px;
    margin-left: 138px;
    margin-right: 204px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 204px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 20px;
    margin-right: 204px;
    margin-left: 138px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 20px;
    margin-left: 138px;
    margin-right: 204px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 953px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 32px;
    margin-bottom: 34px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 161px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -33px;
    margin-right: 138px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -33px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 161px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -33px;
    margin-right: 138px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-6 {
    margin-top: -33px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-icon-1 {
    margin-right: 99px;
    margin-left: 85px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 85px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 99px;
    margin-left: 85px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 85px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 653px;
}

.u-section-2 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin: 33px 0 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 439px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-2 .u-image-1 {
  width: 290px;
  height: 290px;
  background-image: url("images/aman.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-icon-1 {
  height: 33px;
  width: 33px;
  margin: 12px 334px 0 138px;
}

.u-section-2 .u-icon-2 {
  height: 33px;
  width: 33px;
  margin: -33px 138px 0 auto;
}

.u-section-2 .u-icon-3 {
  height: 33px;
  width: 33px;
  margin: -33px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-2 .u-image-2 {
  width: 290px;
  height: 290px;
  background-image: url("images/abhi.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

.u-section-2 .u-icon-4 {
  height: 33px;
  width: 33px;
  margin: 12px 334px 0 138px;
}

.u-section-2 .u-icon-5 {
  height: 33px;
  width: 33px;
  margin: -33px 138px 0 auto;
}

.u-section-2 .u-icon-6 {
  height: 33px;
  width: 33px;
  margin: -33px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 27px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 432px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 272px;
  }

  .u-section-2 .u-icon-4 {
    margin-right: 272px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-icon-1 {
    margin-right: 204px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 20px;
    margin-right: 204px;
    margin-left: 138px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 20px;
    margin-right: 204px;
    margin-left: 138px;
  }

  .u-section-2 .u-icon-4 {
    margin-right: 204px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: 20px;
    margin-right: 204px;
    margin-left: 138px;
  }

  .u-section-2 .u-icon-6 {
    margin-top: 20px;
    margin-left: 138px;
    margin-right: 204px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 953px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 33px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 20px;
    margin-bottom: 33px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 161px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -33px;
    margin-right: 138px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -33px;
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-4 {
    margin-right: 161px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: -33px;
    margin-right: 138px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-6 {
    margin-top: -33px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-icon-1 {
    margin-right: 99px;
    margin-left: 85px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 85px;
  }

  .u-section-2 .u-icon-4 {
    margin-right: 99px;
    margin-left: 85px;
  }

  .u-section-2 .u-icon-5 {
    margin-right: 85px;
  }
}